= simple_form_for model, html: {id: 'order_note_form', remote: true, class: 'hidden form-inline', data: { form_inline_id: "order_note_#{model.id}" }} do |f|
  = f.input :content, input_html: {rows: 2}, label: false
  = f.submit submit_label, class: 'btn btn-submit'