<div id="tasks_table_colors" class="table_colors navbar">
  <div class="navbar-inner">
    <div class="info-colors__title text-center">Время до возврата, осталось:</div>
    <ul class="info-colors__list">
      <% ServiceJobSorting::FILTER_LIST.each do |filter| %>
        <li class="nav-item <%= filter[:type] %> <%= 'current' if params[:type] == filter[:type] %>">
          <%= link_to filter[:title], filter[:url], remote: true, class: "btn btn-primary btn-#{filter[:type]} #{'btn-danger' if filter[:type] == 'time-out'}" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
