<div id="tasks_table_colors" class="table_colors navbar">
  <div class="navbar-inner">
    <div class="info-colors__title text-center">Время до возврата, осталось:</div>
    <ul class="info-colors__list">
      <li class="nav-item info">более 3 часов</li>
      <li class="nav-item warning">от 3 до 1 часа</li>
      <li class="nav-item danger">менее 1 часа</li>
      <li class="nav-item time-out">Время вышло</li>
    </ul>
  </div>
</div>
