if ($('#modal_form').length == 0) {
  $("body").append("<div id='modal_form' class='modal large fade hide'></div>");
}
$("#modal_form").html("<%= j(render('repair_status_devices_modal')) %>");
$("#modal_form:hidden").modal('show');
