-# Renders a single column (th + tds) for a new shift in department summary table
-# Local variables: dept_id, shift_id, display_text, week_dates, counts

%th{'data-shift-id' => shift_id}= display_text
