%div{data: { notification_id: notification.id }, class: "single-notification#{' single-notification--warranty-overstay' if notification.kind&.start_with?('warranty_overstay') || notification.kind&.start_with?('location_overstay')}"}
  %span
    = link_to notification.message,
        notification.url
    = link_to glyph(:remove), close_notification_path(id: notification.id),
        remote: true,
        method: :post