:plain
  $("#user_assignments_calendar").replaceWith("#{j(assignments_calendar_for(@user, @assignments_month, @duty_entries_index, @cashier_entries_index, @store_closing_entries_index, @other_duty_dates, @other_cashier_dates, @other_store_closing_dates, @upcoming_duties, @upcoming_cashier, @upcoming_store_closing))}");
