- if current_user.working_electronic_queue?
  - if current_user.need_to_select_window?
    :javascript
      window.show_window_select_modal();
  - if current_user.window_unselected?
    .warn-select-window
      = link_to "Выберите \n Окно", select_window_elqueue_windows_path, data: { remote: true }
  - else
    = dropdown_el_menu_for_user(current_user)