- if user_signed_in? && current_user.subscribed_service_jobs.any?
  .subscriptions-bar
    - current_user.subscribed_service_jobs.includes(:client).each do |service_job|
      = link_to service_job_path(service_job), class: 'subscription-block' do
        .subscription-device
          = truncate(service_job.decorate.device_name, length: 20)
        .subscription-client
          = truncate(service_job.client&.presentation || '-', length: 20)
        .subscription-ticket
          = service_job.ticket_number