= form_with model: device_note, local: false, data: {form_inline_id: "device_note_#{device_note.id}"}, class: "form-inline hidden"  do |form|
  = form.text_area :content
  = form.submit "Обновить", class: "btn btn-submit", style: "display: block;"