<tr class="device_task fields">
  <td class="task_type">
    <%= f.select :task_id, Task.visible.collect{|t|[t.name,t.id]}, {include_blank: true}, class: 'device_task_task' %>
  </td>
  <td class="task_cost">
    <%= f.number_field :cost, class: 'device_task_cost input-small' %>
  </td>
  <td class="task_comment">
    <%= f.text_area :comment, rows: 3, class: 'device_task_comment',
                    data: {content: raw(t('service_jobs.form.task_comment_hint'))} %>
  </td>
  <td class="task_actions">
    <%= link_to_remove_fields f %>
  </td>
</tr>
