.sj-photo-attachments
  %h5
    = t(".title_#{division}")
  .mini-gallery
    = photo_gallery_mini(@service_job, division)
  .add-photo-btn
    = link_to t(".add_photo"), new_service_job_photo_path(@service_job, division: division)