(function() {
  $('#repair_progress_modal_<%= @service_job.id %>').remove();

  var $host = $('#repair_status_widget_modal_host');
  if ($host.length === 0) {
    $host = $('<div id="repair_status_widget_modal_host"></div>').appendTo('body');
  }
  $host.append("<%= j render('repair_progress', service_job: @service_job, device_task: @device_task) %>");

  var $modal = $('#repair_progress_modal_<%= @service_job.id %>');
  $modal.on('click', '[data-repair-status-widget-modal-close-for]', function(e) {
    e.preventDefault();
    $modal.remove();
  });
  // Закрытие по клику на подложку (вне диалога).
  $modal.on('click', function(e) {
    if (e.target === this) $modal.remove();
  });
})();
