@keyframes flashing {
  to {
    box-shadow: 0 0 6px 3px #ff898b;
    background-color: #ff6d6f;
  }
}

#flash_place {
  width: 70%;
}

.notificationable-users {
  background-color: #ffffff;
  ul {
    margin: 0 0 10px 0;
    list-style: none;
    border: 1px solid rgba(110, 146, 168, 0.8);
    border-radius: 3px;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 195, 255, .6);

    li {
      padding: 5px 0 2px 8px;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      color: #555;
      font-size: 0.8rem;
    &:hover {
      background-color: rgba(0, 0, 0, .1);
      cursor: pointer;
      color: #555;
      font-size: 0.8rem;
      }
    }
  }
}

.notify-user {
  width: fit-content;
  border-radius: 16px;
  padding: 2px 5px 3px 3px;
  background-color: rgba(113, 144, 245, 0.6);
  margin: 6px;
  font-size: 0.7rem;
  font-style: oblique;
  font-variant: all-small-caps;
  color: #060053;
  cursor: pointer;
  display: inline-block;
}

.notified-user-inline {
  text-decoration-color: cyan;
  text-decoration-thickness: 0.5em;
  text-decoration-skip-ink: none;
  text-decoration-line: underline;
  text-underline-offset: 5px;
}

#notifications {
  width: 30%;
  left: 70%;
  z-index: 998;
  position: absolute;
  opacity: 0.9;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
  #close_all_announcements_link {
    color: #777777;
    background-color: #f2f2f2;
    border-left: solid thin #D8D8D8;
    border-bottom: solid thin #D8D8D8;
    padding: 0px 8px 2px 6px;
    margin-left: -4px;
    text-shadow: 0 1px 0 #ffffff;
    font-weight: bold;
    opacity: 0.8;
    &:hover{
      text-decoration: none;
      color: #333333;
      cursor: pointer;
      opacity: 1;
    }
  }
  #hide_notifications_button {
    color: #777777;
    padding: 0 20px;
    background-color: #f2f2f2;
    cursor: pointer;
    border-left: solid thin #D8D8D8;
    border-bottom: solid thin #D8D8D8;
    height: 20px;
//    min-width: 83%;
//    max-width: 84%;
    width: 82%;
    display: inline-block;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
    .indicator {
      height: 4px;
      width: 80%;
      vertical-align: middle;
      display: inline-block;
      margin-left: 6%;
      border-radius: 2px;
      &.active {
        background-color: #ffc7c5;
      }
    }
  }
  #announcements {
    display: none;
    .announcement {
      font-size: 16px;
      border: solid thin #DDD;
      padding: 2px 4px;
      color: #3a87ad;
      background-color: #d9edf7;
      border-color: #bce8f1;
      &.help {
        color: #b94a48;
        background-color: #f2dede;
        border-color: #eed3d7;
      }
      &.coffee,
      &.protector {
        color: #468847;
        background-color: #dff0d8;
        border-color: #d6e9c6;
      }
      &.for_coffee,
      &.device_return,
      &.salary {
        color: #c09853;
        background-color: #fcf8e3;
        border-color: #fbeed5;
      }
      .close_announcement_button {
        margin-right: 10px;
        line-height: 15px;
        float: right;
        font-size: 20px;
        font-weight: bold;
        line-height: 20px;
        color: #000000;
        text-shadow: 0 1px 0 #ffffff;
        opacity: 0.2;
        filter: alpha(opacity=20);
        opacity: 0.2;
        filter: alpha(opacity=20);
        &:hover, &:focus {
          color: #000000;
          text-decoration: none;
          cursor: pointer;
          opacity: 0.4;
          filter: alpha(opacity=40);
          opacity: 0.4;
          filter: alpha(opacity=40);
        }
      }
      .timestamp {
        font-size: 12px;
      }
    }
  }

  #important_info, #personal_infos {
    display: none;
    font-size: 16px;
    border-bottom: solid thin #A7D5E7;
    border-left: solid thin #A7D5E7;
    background-color: #b8e9fb;
    padding: 2px 4px;
    p {
      margin: 0;
    }
  }

  #personal_infos {
    font-weight: bold;
  }

}

#announce_link {
  &.active {
    background-color: #f2dede;
  }
}

#coffee_order_form {
  margin: 0;
}

.change_announce_state_button {
  cursor: pointer;
}
//
//#close_all_announcements_link {
//  font-weight: bold;
//}

.color_input {
  .color_value {
    width: 178px;
  }
}

.attributes_table {
  td:first-child {
    font-weight: bold;
    text-align: right;
    vertical-align: top;
    padding-right: 10px;
    width: 200px;
  }
  td>input {
    margin: 0;
  }
  td {
    padding-bottom: 10px;
  }
}

form.button_to {
  display: inline-block;
  margin-bottom: 0;
}

#vakata-contextmenu {
  .vakata-separator:last-child {
    display: none;
  }
  li:last-child {
    display: none;
  }
}

#card_sign_in {
  display: none;
  text-align: center;
  padding-top: 20px;
  font-size: 50px;
  font-weight: bold;
  color: red;
  z-index: 1055;
  a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    &:hover {
      color: #f5f5f5;
    }
  }
}

#card_scanner {
  display: none;
  z-index: 1055;
  #card_scanner_inner {
    opacity: 1;
    position: fixed;
    left: 40%;
    top: 40%;
    input {
      margin-bottom: 0;
    }
  }
}

#barcode_reader {
  display: none;
  z-index: 1055;
  #barcode_reader_inner {
    display: none;
    position: fixed;
    left: 40%;
    top: 40%;
    #barcode_field {
      margin-bottom: none;
    }
  }
}

#client_card_reader {
  display: none;
  z-index: 1055;
  #cancel_client_card_scan {
    position: fixed;
    left: 40%;
    top: 40%;
  }
}

a>i {
  margin-right: 4px;
}

.no-decoration {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.table-small {
  width: 50%;
  max-width: 50%;
}

tr.fields {
  .control-group {
    margin-bottom: 0;
  }
  .controls {
    margin-left: 0;
  }
}

.tooltip-inner {
  white-space: normal;
}

.control-group {
  &.radio_buttons, &.check_boxes {
    .controls {
      padding-left: 20px;
      &>.radio, &>.checkbox {
        &:not(.inline) {
          padding: 0;
        }
      }
    }
  }
}

.control-group-row {
  display: inline-block;
  .control-group {
    display: inline-block;

  }

}

.bootstrap-datetimepicker-widget {
  z-index: 1060;
}

.d-inline-block {
  display: inline-block;
}

.margin-left {
  margin-left: 4px;
}

.margin-right {
  margin-right: 4px;
}

@media (max-width: 979px) {
  #topbar {
    display:block;
    position: relative;
    padding:10px
  }
  #topbar #current_user_name {
    display:block;
    margin: 10px 5px;
  }
   #topbar #quick_search_form{
    display:block;
    margin: 10px 5px;
  }
  span.pull-right.bar-buttons {
    display:block;
    margin: 10px 5px;
    float:none;

 }
}
#spinner {
  top: 40%;
  left: 50%;
  z-index: 999;
}
.nav .dropdown.open .dropdown-backdrop{
  display:none!important
}
.modal-confirm {
  top: 40%;
}
.modal-confirm .modal-title {
  display: inline-block;
}

.modal-confirm .modal-header .close{
   margin-top:10px;
}

#reason{
  width:510px;
}

.enlarged_modal {
  width: 90vw;
  margin-left: -45vw;
  height: 85vh;

  form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  form > .modal-body {
    margin-top: 10px;
    margin-bottom: auto;
    max-height: none;
  }
}