#electronic_queues {
  margin-top: 20px;

  .elqueue {
    a {
      color: #238bd0;
      text-decoration: none;
    }

    .elqueue-info {
      color: #424242;
      font-style: italic;
      font-size: 0.9em;
      padding-left: 4px;
    }
  }
}

#queue_items {
  margin-top: 20px;
}

.elqueue_navbar {
  padding: 10px 10px 0 15px;
  font-size: 1.4em;
  float: left;

  .caret {
    margin-left: -3px;
  }
}

.elqueue_navbar .dropdown-menu a {
  font-size: 14px;
}

.warn-select-window {
  display: inline;
  a {
    color: #940909;

    &:hover {
      color: #5c0101;
    }
  }
}

.elqueue_active_tickets {
  min-height: 30px;
}

.select_window_notice {
  text-align: center;
  white-space: pre;
  margin-top: -15px;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.select_window_header {
  text-align: center;
  padding-left: 35px;
}

.reassign-window-form {
  display: inline-block;
  float: right;

  .select-window {
    margin-bottom: 0;
  }
}

.waiting-for-break_menu-item {
  font-weight: bold;
  display: block;
  padding: 3px 20px;
  color: #333333;
  white-space: nowrap;
  font-size: 14px;
}

.elqueue-ticket-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .elqueue-ticket-card {
    background-color: #ddd;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
    padding: 6px;
    margin-bottom: 20px;
    height: 200px;
    width: 140px;
    cursor: grab;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:active {
      cursor: grabbing;
    }

    .ticket-content {
      flex-grow: 1;
      text-align: center;

      .ticket-number {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .ticket-queue-item {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .client-phone {
        font-size: 14px;
        margin-bottom: 5px;
      }

      .ticket-windows {
        font-size: 16px;
      }
    }

    .ticket-footer {
      text-align: center;
      font-size: 12px;

      p {
        font-weight: bold;
        padding: 4px 5px 6px 5px;
      }

      select {
        width: 40px;
        margin-bottom: 0;
      }

      .ticket-assign {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        a {
          color: #fff;
        }
        a:hover {
          color: #fff;
        }
      }
    }
  }
}

.add-old-ticket {
  select {
    margin-bottom: 0;
  }
}

.elqueue_windows-info {
  margin-left: 30px;
}
.dl-horizontal {
  .elqueue_window-info {
    border-bottom: 1px solid #cbcbcb;
    padding: 8px 0;

    dt {
      width: 60px;
    }
    dd {
      margin-left: 90px;
    }
    .close-red {
      color: #c90000cc;
      float: right;
    }
  }
}

.electronic-queue-info.dl-horizontal {
  dt {
    width: 320px;
  }
  dd {
    margin-left: 380px;
  }
}
