#electronic_queues {
  margin-top: 20px;

  .elqueue {
    a {
      color: #238bd0;
      text-decoration: none;
    }

    .elqueue-info {
      color: #424242;
      font-style: italic;
      font-size: 0.9em;
      padding-left: 4px;
    }
  }
}

#queue_items {
  margin-top: 20px;
}

.elqueue_navbar {
  display: inline-block;
  padding-top: 10px;
}