.kanban-board {
  padding: 0 1rem 1rem 1rem;
}

.kanban-board-preview {
  padding: 0 1rem 1rem 1rem;
}

.kanban-card {
  margin-bottom: 1rem;
}

.kanban-column-headers {
  margin-bottom: 2rem;
  border-bottom: darkgray solid;
}
