.dropdown-menu {
  .navbar_new {
    color: #1a8c47;
    &:hover {
      color: #fff;
    }
  }

  .navbar_current {
    color: #8c1a1a;
    &:hover {
      color: #fff;
    }
  }

  .navbar_completed {
    color: #044f91;
    &:hover {
      color: #fff;
    }
  }
}