.technician-repairs {
  &__filters {
    margin-bottom: 12px;
  }

  &__heading {
    margin-bottom: 12px;
  }

  &__row {
    font-weight: bold;
    cursor: pointer;

    &--self > td {
      color: #0088cc;
    }

    &--open .technician-repairs__caret {
      transform: rotate(90deg);
    }
  }

  &__caret {
    display: inline-block;
    width: 12px;
    margin-right: 6px;
    color: #999;
  }

  &__work {
    display: none;
  }

  &__work-name {
    padding-left: 32px !important;
  }

  &__work-date,
  &__number {
    text-align: right;
  }
}
