@wikiColors: #e0ecea,#060503,#b8aaaf,#281f0a,#5b6dd5,#299c6f,#d2ce2a,#db4216;

.generate-color-styles(@color) {
  .color-@{color} {
    background-color: @color;
  }
}

.loop-colors(@index: 1) when (@index <= length(@wikiColors)) {
  @color: extract(@wikiColors, @index);
  li:nth-child(@{index}) {
    background-color: @color;
    color: #fff;
  }
}

.wiki_tag-choose-color {
  .loop-colors();
}

.wiki_wrapper {
  margin: 10px 50px;
  
  textarea {
    resize: vertical;
    display: block;
    width: 80vw;
    height: 300px;
  }
  
  input, select {
    margin: 0;
  }
  
  input[type='text'] {
    width: 440px;
    height: 20px;
  }

  .wiki_senior {
    margin: 15px 0;
  }

  .wiki_content {
    margin-bottom: 40px;
  }
  
  .nav {
    li {
      font-size: 1.5rem;
      font-weight: bold;
    }

    a {
      outline: none;
    }
  }
  
  .wiki-row {
    display: flex;
  }
  
  .wiki-column {
    flex: 50%;
  }
  
  .tab-content {
    overflow: visible;
  }
  
  .label-inline {
    display: inline;
  }
  
  .wiki_tag {
    background: white;
    border: 1px solid #d2d2d2;
    margin-left: 10px;
    font-variant: petite-caps;
  }
  
  .category-chosen-value {
    width: 200px;
    height: 20px;
    display: block;
    margin-bottom: 10px;
    transition: .3s ease-in-out;
    
    &:hover {
      background-color: #FAFCFD;
      cursor: pointer;
    }
  }

  .categories-value-list {
    list-style: none;
    position: absolute;
    margin-top: -10px;
    margin-left: 0;
    overflow: hidden;
    max-height: 0;
    transition: .3s ease-in-out;

    &.open {
      max-height: 200px;
      overflow: auto;
    }

    li {
      background-color: aliceblue;
      padding: 10px 5px;
      cursor: pointer;
      max-height: 20px;
      width: 440px;
      transition: background-color .3s;
      opacity: 1;
      
      &:hover {
        background-color: #d3def1;
      }
      
      &.closed {
        max-height: 0;
        overflow: hidden;
        padding: 0;
        opacity: 0;
      }
    }
  }
}

.wiki_actions {
  width: 100%;
  padding: 0px;
  text-align: right;
}

.wiki_search {
  input[type='search'] {
    margin: 0;
  }
}

.wiki_list {
  font-size: 18px;
  margin: 0;
  
  li {
    display: block;
    margin-top: 10px;
  }
}

.wiki_manage_categories {
  position:absolute;
  right: 70px;
  list-style: none;
  width: 400px;
  max-height: 0;
  overflow: hidden;
  text-align: left;
  margin-top: 10px;

  &.open {
    max-height: 100%;
    overflow: visible;
    background-color: white;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
  }
  
  li {
    position: relative;
    padding: 10px 5px;
    display: grid;
    grid-template-columns: 30px auto auto;
    border-bottom: 1px solid #d2d2d2;
    
    .btn-group {
      justify-self: flex-end;
    }
    
    .btn-danger {
      width: 10px;
    }

    .change-colors-btn {
      display: inline-block;
    }
    
    .wiki_color-tag {
      width: 17px;
      height: 20px;
      border: 1px solid #d2d2d2;
      cursor: pointer;
    }
    
    .wiki_manage-colors-tags {
      position: absolute;
      left: -30px;
      width: 40px;
      overflow: hidden;
      max-height: 0;

      &.open {
        overflow: visible;
      }

      div {
        margin-bottom: 7px;
      }
    }
  }
}

.wiki_category {
  margin: 10px 5px;
  font-style: italic;
  color: #666;  
}
