.wiki_actions {
  width: 100%;
  padding: 0px;
  text-align: right;
}

.wiki_wrapper {
  margin: 10px 50px;
  textarea {
    resize: vertical;
    display: block;
    width: 80vw;
    height: 300px;
  }
  input {
    margin: 0;
  }
  input[type='text'] {
    width: 440px;
    height: 20px;
  }
  .nav {
    li {
      font-size: 1.5rem;
      font-weight: bold;
    }

    a {
      outline: none;
    }
  }
  .wiki-row {
    display: flex;
  }
  .wiki-column {
    flex: 50%;
  }
  .tab-content {
    overflow: visible;
  }
  .label-inline {
    display: inline;
  }
}

.wiki_search {
  input[type='search'] {
    margin: 0;
  }
}

.wiki_list {
  font-size: 18px;
  margin: 0;
  
  li {
    display: block;
    margin-top: 10px;
  }
}

.wiki_category {
  margin: 10px 5px;
  font-style: italic;
  color: #666;  
}
