:plain
  $("##{dom_id(@product)}").fadeOut(300, function() { $(this).remove(); });
  $("#flash_place").html("<div class='alert alert-success fade in'><button class='close' data-dismiss='alert'>&times;</button>#{j @flash_message}</div>");
