%h1{class: @new_type_report ? 'new_report' : ''}
  = link_back_to_index
  = report_title @report
- if @report_annotation
  .report-annotation-header
    Аннотация:
    = @report_annotation
= render 'form', report: @report
