.loading-overlay.hidden
.loading-indicator.hidden
  %i.fa.fa-circle-o-notch.fa-spin.fa-3x
.queue-breadcrumbs
.queue-container
  = render_queue_tree(@queue_items, true)
  %button.back-button.hidden Назад
.show-client-ticket-number.hidden
  %h2 Ваш номер талона:
  .ticket-number-block
    .ticket-number
    .ticket-notice На всякий случай лучше запомнить или сфотографировать талон
  %button.back-to-root-button На главную

:javascript
  document.addEventListener('DOMContentLoaded', function() {
    document.body.style.backgroundColor = "#{@electronic_queue.background_color}";
    document.querySelector('.back-button').style.backgroundColor = "#{@electronic_queue.back_button_color}";
    document.querySelector('.show-client-ticket-number').style.backgroundColor = "#{@electronic_queue.queue_item_color}"
  });
