.elqueue-tv
  - @clients_in_service.each do |client|
    .elqueue-tv-card{data: {ticket_number: client.ticket_number}}
      %span.ticket-info
        = client.ticket_number
        %span.label-tv Талон
      %span.arrow-tv &#x279C;
      %span.ticket-info
        = client.elqueue_window.window_number
        %span.label-tv Окно

%input#electronic_queue_id{type: "hidden", value: @electronic_queue.id}
= javascript_include_tag "tv_show"

:scss
  body {
    line-height: normal;
  }
  .elqueue-tv {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    align-items: stretch;
    justify-items: stretch;
    gap: 20px 20px;
  }
  .elqueue-tv-card {
    background-color: #f6f1f1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 64px;

    .arrow-tv {
      margin-bottom: 18px;
    }

    .ticket-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2px;
      color: #000;
    }

    .label-tv {
      color: #c0c0c0;
      font-size: 32px;
    }
  }