.elqueue-tv
  - @clients_in_service.each do |client|
    .elqueue-tv-card{data: {ticket_number: client.ticket_number}}
      %span.ticket-info
        = client.ticket_number
        %span.label-tv Талон
      %span.arrow-tv &#x279C;
      %span.ticket-info
        = client.elqueue_window.window_number
        %span.label-tv Окно
.elqueue-tv-waiting
  .elqueue-tv-waiting__title
    Ожидающие
  .elqueue-tv-waiting__tickets


%input#electronic_queue_id{type: "hidden", value: @electronic_queue.id}
%input#waiting_tickets{type: "hidden", value: @waiting_clients.pluck(:ticket_number).to_json}
= javascript_include_tag "tv_show"

:scss
  body {
    line-height: normal;
    padding-bottom: 0;
  }
  .elqueue-tv {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
    height: 81vh;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    align-items: stretch;
    justify-items: stretch;
    gap: 20px 20px;
    background-color: #f9f9f9;
  }
  .elqueue-tv-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 64px;
    background: linear-gradient(135deg, #efefef, #f3ecec);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    .arrow-tv {
      margin-bottom: 18px;
    }

    .ticket-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2px;
      color: #000;
    }

    .label-tv {
      color: #a7a5a5;
      font-size: 32px;
    }
  }
  .elqueue-tv-waiting {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 14vh;
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    font-size: 32px;
    column-gap: 18px;
    padding-top: 20px;
  }
  .elqueue-tv-waiting__title {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 7px 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    color: #524444;
  }
  .elqueue-tv-waiting__tickets {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    column-gap: 18px;
  }
  .elqueue-tv-waiting__ticket {
    display: flex;
    flex-direction: row;
    height: 70%;
    align-items: center;
    justify-content: center;
    padding: 7px 14px;
    width: 120px;
    border-radius: 4px;
    background: linear-gradient(135deg, #f6f1f1, #f0f0f0);
    color: #5c5757;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease forwards;
    &.fade-out {
      animation: fadeOut 1s ease forwards;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(40px);
    }
  }
